<footer class="footer">
    <div class="container">
        <div class="row justify-content-center align-items-center text-center">
            <div class="col-4">
                <a href="mailto:rachael@inox-world.com.au" title="Email">
                    <i class="fa-solid fa-envelope icon"></i>
                </a>
            </div>
            <div class="col-4">
                <a href="https://www.linkedin.com/in/rachael-alexander-00751192/" target="_blank" title="LinkedIn">
                    <i class="fa-brands fa-linkedin icon"></i>
                </a>
            </div>
            <div class="col-4">
                <a href="https://github.com/Rachael-91" target="_blank" title="GitHub">
                    <i class="fa-brands fa-github icon"></i>
                </a>
            </div>
        </div>
    </div>
    </footer>
    <div>
    <p class="footer-coded">This page was coded by Rachael Alexander, hosted on Netlify.</p>
</div>

