:root {
    --primary-color: rgba(249, 229, 250, 0.7);
    --secondary-color: rgba(254, 254, 254, 0.665);
    --accent-color: #A25AAA;
    --hover-color: rgba(162, 90, 170, 0.6);
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    --main-font-family: "Didact Gothic", serif;
    --secondary-font-family: "Playwrite IS", serif;
  }
  
  body {
    margin-top: 150px;
    font-family: var(--main-font-family);
  }

  body.hidden {
    visibility: hidden;
  }

  .container {
    font-family: var(--main-font-family);
    font-weight: 400;
    font-style: normal;
  }

  h1,
  h2,
  h3 {
    text-align: center;
    margin: 0;
    font-family: var(--main-font-family);
    font-weight: 400;
    font-style: normal;
  }
  
  h1 {
    font-size: 96px;
  }
  
  h2 {
    font-size: 48px;
  }
  
  h3 {
    font-size: 24px;
    opacity: 0.7;
  }
  
  p {
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
  }

  .col a, a:link, a:visited {
   color: var(--accent-color);
    text-decoration: none;
  }

  .col a:hover {
    color: black;
  }
  
footer {
  margin-top: 20px;
  padding: 20px 10px;
  background-color: var(--primary-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

.footer-coded {
  text-align: center;
  font-family: var(--secondary-font-family);
  font-size: 14px;
  margin-top: 5px;
}

  .navigation-links {
    display: flex;
    margin-top: 10px;
    justify-content: center;
  }
  
  .navigation-links a {
    margin: 10px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  .homepage-link {
    color: var(--accent-color);
    text-align: center;
    display: block;
  }

  .paragraph-sm {
    border-radius: 6px;
    background-color: var(--primary-color);
    padding: 30px;
    box-shadow: var(--box-shadow);
    margin-bottom: 20px;
  }
  
  .description-text {
    font-size: 16px;
  }
  
  .about-info p {
      margin: 5px;
      padding: 5px;
      font-family: var(--primary-font-family);
      color: rgb(41, 36, 36);
  }
  .about-info h1,
  .about-info h2,
  .about-info h3 {
   color: var(--accent-color);
   margin: 5px;
   padding: 5px;
   font-family: var(--primary-font-family);
   font-weight: 800;
  }

  .button-links {
    background-color: var(--accent-color);
    border-radius: 6px;
    padding: 15px 20px;
    margin: 20px;
    border: none;
    color: white;
    box-shadow: var(--box-shadow);
  }

  button:hover {
    background-color: var(--hover-color);
    transition: ease-in-out;
  }

.button-links:focus {
    outline: none;
    box-shadow: none;
  }

  .navbar {
    background-color: var(--accent-color);
  }

  .accordion-button {
    background-color: var(--accent-color);
    color: white;
    border: none;
    width: 100%;
    border-radius: 6px;
  }

  .accordion-button:focus {
    box-shadow: none; /* Removes the blue focus shadow */
    outline: none;    /* Removes the focus border outline */
    border-color: transparent; /* Optional: ensures no visible border */
}

.skills-list {
  padding-top: 5px;
}

.nav-tabs button {
  background-color: var(--accent-color);
  color: white;
}

.nav-link-btn button:hover {
  background-color: var(--hover-color);
  transition: ease-in-out;
}

.row {
  margin-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

.footer .row {
  margin-bottom: 10px;
  padding-top: 30px;
  text-align: center;
}


.border-ra {
  border: var(--accent-color) 1px solid;
  border-radius: 6px;
  background-color: var(--secondary-color);
}