:root {
    --primary-color: rgba(249, 229, 250, 0.7);
    --secondary-color: #f5f2fe;
    --accent-color: #A25AAA;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    --main-font-family: "Didact Gothic", serif;
    --secondary-font-family: "Playwrite IS", serif;
  }
  
  body {
    margin-top: 150px;
    font-family: var(--main-font-family);
  }

  body.hidden {
    visibility: hidden;
  }
  
  .container {
    font-family: var(--main-font-family);
    font-weight: 400;
    font-style: normal;
  }

  h1,
  h2,
  h3 {
    text-align: center;
    margin: 0;
    font-family: var(--main-font-family);
    font-weight: 400;
    font-style: normal;
  }
  
  h1 {
    font-size: 96px;
  }
  
  h2 {
    font-size: 48px;
  }
  
  h3 {
    font-size: 24px;
    opacity: 0.7;
  }
  
  p {
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
  }
  
footer {
  margin: 30px;
  padding: 50px;
  background-color: var(--primary-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

  .navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }
  
  .navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  .homepage-link {
    color: var(--accent-color);
    text-align: center;
    display: block;
  }
  
  .about-paragraphs {
    display: flex;
    margin: 40px;
  }
  
  .about-paragraphs p {
    margin: 10px;
  }

  .button-links {
    background-color: #A25AAA;
    border-radius: 6px;
    padding: 15px 20px;
    margin: 20px;
    border: none;
    color: white;
  }

  button:hover {
    background-color: rgba(162, 90, 170, 0.6);
    transition: ease-in-out;
  }